{% extends 'app1/base.html' %}

{% block title %}
    <title>Create</title>
{% endblock title %}

{% block content %}
<h1>Quelle est votre question?</h1>
<form method="POST" class="post-form">  
    {% csrf_token %} 
    <div class="container">  
        <br>  
        <div class="form-group row">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
                <h2>S'il vous plait remplissez le formulaire</h2>  
            </div>  
        </div>  
        <div class="form-group row">  
            <label class="col-sm-2 col-form-label">Quelle est votre question:</label>  
            <div class="col-sm-4">  
                {{ form.text }}  
            </div>  
        </div>  
        <div class="col-sm-4">  
            <button type="submit" class="btn btn-primary">Submit</button>  
        </div> 
    </div>  
</form>  
{% endblock %}
</html>  