
{% extends 'app1/base.html' %}

{% block title %}
    <title>Create</title>
{% endblock title %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <br><br>
    <div class="alert alert-danger" role="alert">
        Voulez-vous vraiment supprimer la question {{ question.id }} "{{ question }}" ?
    </div>
    
    <p>
        <a href="{% url 'app1:index' %}"> <-- Go back</a>
    </p>

    <p>
        <input class="btn btn-danger" type="submit" value="Supprimer">
    </p>
</form>  
{% endblock %} 
</html>  