{% extends 'shop/base.html' %}

{% block title %}
    <title>Création d'un produit</title>
{% endblock title %}

{% block content %}
<h3 class="text-center text-dark-purple">Créer un nouveau produit</h3>
<form method="post" enctype="multipart/form-data" class="">  
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">{{ form.name.label }}</label>
        {{ form.name }}
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">{{ form.description }}</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    {% csrf_token %} 
    {{ form.as_p }}
    <input type="submit" value="Valider"/>
</form>  
{% endblock %}
</html>  