{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Création d'un produit</title>
{% endblock title %}

{% block content %}
<h3 class="text-center text-dark-purple">Créer un nouveau produit</h3>

<form method="Post" enctype="multipart/form-data">  
    {% csrf_token %} 
    <div class="row">
        <div class="col-12">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="col-12">
            {{ form.description|as_crispy_field }}
        </div>
        <div class="col-12">
            {{ form.image|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.price|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.quantity|as_crispy_field }}
        </div>
    </div>

    <input type="submit" value="Valider" class="btn mt-2 bg-purple text-white d-block mx-auto"/>
    <p class="fs-6 text-warning mt-4 text-center">Tous les champs contenants * sont obligatoires</p>
</form>  
{% endblock %}
</html>  