{% extends 'shop/base.html' %}

{% block title %}
    <title>Create</title>
{% endblock title %}

{% block content %}
<form action="" method="POST">
    <h3 class="text-center text-dark-purple mb-4">Suppression du produit : {{ product }}</h3>
    {% csrf_token %}
    <div class="alert alert-danger" role="alert">
        <p>Voulez-vous vraiment supprimer le produit "{{ product }}" ?</p>
    </div>
    <div class="d-flex justify-content-center">
        <input class="btn btn-danger mr-2" type="submit" value="Oui">
        <a class="btn btn-secondary" href="{% url 'shop:all_product' %}">Non</a>
    </div>
</form>  
{% endblock %} 
</html>  