{% extends 'shop/base.html' %}

{% block title %}
    <title>Liste des produits</title>
{% endblock title %}

{% block content %}
<h3 class="text-center text-dark-purple">Liste de nos produits</h3>
 {% if products %}
    {% for product in products%}
        <p>{{ product }} coûte {{ product.price}}€  <p>
        <a href="{% url 'shop:details_product' product.id %}"><button>Detail du produit</button></a> 
        <a href="{% url 'shop:edit_product' product.id %}"><button>Modifier ce produit</button></a> 
        <a href="{% url 'shop:delete_product' product.id %}"><button>Supprimer ce produit</button></a> 
    {% endfor%}
 {% endif %}
{% endblock %}