{% extends 'shop/base.html' %}

{% block title %}
    <title>Nos produits</title>
{% endblock title %}

{% block content %}
<h1>Bonjour voici la liste de nos produits</h1>
<a href="{% url 'shop:create_product' %}"><button>J'ajoute un nouveau produit</button></a> 
 {% if products %}
    {% for product in products%}
        {% if product.quantity > 0 %}
            <p>{{ product }} coûte {{ product.price}}€  <p>
            <a href="{% url 'shop:details_product' product.id %}"><button>Detail du produit</button></a> 
            <a href="{% url 'shop:edit_product' product.id %}"><button>Modifier ce produit</button></a> 
            <a href="{% url 'shop:delete_product' product.id %}"><button>Supprimer ce produit</button></a> 
        {% endif%}
    {% endfor%}
 {% endif %}
{% endblock %}